@import "tailwindcss";

body {
	@apply bg-amber-50;

	--color1: var(--color-amber-50);
	--color2: var(--color-amber-100);

	background-image: repeating-linear-gradient(45deg, var(--color1) 25%, transparent 25%, transparent 75%, var(--color1) 75%, var(--color1)),
		repeating-linear-gradient(45deg, var(--color1) 25%, var(--color2) 25%, var(--color2) 75%, var(--color1) 75%, var(--color1));
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

.button {
	@apply flex justify-center items-center px-5 py-2 bg-orange-300 border-2 border-orange-400 rounded-full shadow-md hover:bg-orange-400;
}
